.side-radio-group-custom{
  position:fixed;
  right:15px;
  top:50vh;
  color:aqua;
  font-size: 19px;
  z-index: 1;
  }
.tooltip-red{
    background: #e24e4ece;
    height: 50px;
  }
  
.full_screen_tile{
    color:white;
    position:relative;
    width:100%;
    height:100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
    

.example-card {
   max-width: 400px;
   height: auto;
  }
  
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .example-card{
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
      background-color: rgba( 128, 128, 128, 0.1);;  
    
    }
    .warning {
      display: none;
    }
  }
  
  .example-header-image {
    background-image: url('https://media.autoexpress.co.uk/image/private/s--lzWaTFx0--/f_auto,t_content-image-full-desktop@2/v1605780978/autoexpress/2020/11/Nurburgring%20lap%20times%20record-27.jpg');
    background-size: cover;

  }
    #john{
       
        background-image:url('https://media.autoexpress.co.uk/image/private/s--11qt_MM3--/f_auto,t_content-image-full-desktop@2/v1605780972/autoexpress/2020/11/Nurburgring%20lap%20times%20record-11.jpg');
    }
    #more{
        
        background-image:url('https://media.autoexpress.co.uk/image/private/s--tt6QJFqV--/f_auto,t_content-image-full-desktop@2/v1605780974/autoexpress/2020/11/Nurburgring%20lap%20times%20record-19.jpg');
        
    }
    #about{
        
        background-image:url('https://media.autoexpress.co.uk/image/private/s--8zGmaBWA--/f_auto,t_content-image-full-desktop@2/v1605780968/autoexpress/2020/11/Nurburgring%20lap%20times%20record-4.jpg');
    }
    #me{
        
        background-image:url('https://media.autoexpress.co.uk/image/private/s--ksiPfDnp--/f_auto,t_content-image-full-desktop@2/v1605780972/autoexpress/2020/11/Nurburgring%20lap%20times%20record-14.jpg');
    }
    #contact{
       
        background-image:url('https://media.autoexpress.co.uk/image/private/s--p08ypy7i--/f_auto,t_content-image-full-desktop@2/v1605780976/autoexpress/2020/11/Nurburgring%20lap%20times%20record-24.jpg');
    }
    