
<div id="homepage1"
 class="full_screen_tile">
 <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>John</mat-card-title>
      <mat-card-subtitle>President of FutureGreenTech </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="example-image" src='../../assets/homepage/hitman_main.jpg' alt="John president of FutureGreenTech">
    <mat-card-content>
      <p>
        Hi,<br>
        I'm John,<br>
        The Specialist,<br><br>
        I'm a experienced exploration geologist, with a wide range of interests and passions. I'm continiusly learning and expanding my horizons to fill the void of my natural curiocity.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button>Like</a>
      <a mat-button>Bio</a>
      <button mat-button>Contact</button>
      <button mat-button>Github</button>
          </mat-card-actions>
  </mat-card>




</div>
<div id="homepage2" class="full_screen_tile"><mat-card-title>HomePage2</mat-card-title></div>
<div id="homepage3" class="full_screen_tile"><mat-card-title>HomePage3</mat-card-title></div>
<div id="homepage4" class="full_screen_tile"><mat-card-title>HomePage4</mat-card-title></div>
<div id="homepage5" class="full_screen_tile"><mat-card-title>HomePage5</mat-card-title></div>