<mat-radio-group class="side-radio-group side-radio-group-custom">

    <mat-radio-button labelPosition='before'  value="1" color="accent" (click)="buttonClick('john')"></mat-radio-button><br>

    <mat-radio-button value="2" labelPosition='before' color="accent" (click)="buttonClick('more')"></mat-radio-button><br>

    <mat-radio-button value="3" labelPosition='before'  color="accent" (click)="buttonClick('about')" 
    ></mat-radio-button> <br>

    <mat-radio-button value="4" labelPosition='before' color="accent" (click)="buttonClick('me')"></mat-radio-button><br>

    <mat-radio-button value="5" labelPosition='before' color="accent" (click)="buttonClick('Contact')"></mat-radio-button>

</mat-radio-group>

