<mat-radio-group class="side-radio-group side-radio-group-custom">
    

<mat-radio-button labelPosition='before'  value="1" color="accent" routerLink="/homepage" routerLinkActive="active"></mat-radio-button><br>

<mat-radio-button value="2" labelPosition='before' color="accent" routerLink="/app-menu-nav-dash" routerLinkActive="active">

</mat-radio-button><br>

<mat-radio-button value="3" labelPosition='before'  color="accent">

</mat-radio-button> 
<br>
<mat-radio-button value="4" labelPosition='before' color="accent">

</mat-radio-button><br>
<mat-radio-button value="5" labelPosition='before' color="accent">

</mat-radio-button>

</mat-radio-group>

