.search {
  &-container {
    font-size: 16px;
   width: 50vh;
   height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
    height: 20px;
  }
  &-form {
    width: auto;
    max-width: 50vh;
    margin: 0 auto;
  }
  &-input {
    
    
    width: 80%;
    
  }
  &-button {
    margin: 0 auto;
   
    
    cursor: pointer;
   
  }
}
