.search {
  &-container {
   
   
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
  }
  &-form {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  &-input {
    
    
    width: 80%;
    
  }
  &-button {
    
    background-color: rgb(250, 207, 17);
   padding-left: 10px;
    
    cursor: pointer;
   
  }
}
