<div id='main-page' class="main-page-container-fluid">
    
    
        <img  id="img1" class="main-page-img" src='/assets/Circuit_Nürburgring-2013-Nordschleife.svg'>
        <img  id="img2" class="main-page-img2" src='https://media.autoexpress.co.uk/image/private/s--11qt_MM3--/f_auto,t_content-image-full-desktop@2/v1605780972/autoexpress/2020/11/Nurburgring%20lap%20times%20record-11.jpg'
        >
        <div class="main-page-headline">
            <h1 class="mat-h1">Nürburgring Nordschleife</h1>
            <h2 class="mat-h2">Record Lap Times</h2>
            
        </div>         

</div>