<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink] = "['/']"  fragment="homepage1" routerLinkActive="active">homepage1</a>
      <a mat-list-item routerLink="/homepage" routerLinkActive="active">homepage2</a>
      <a mat-list-item routerLink="/homepage" routerLinkActive="active">homepage3</a>
      <a mat-list-item routerLink="/homepage/4" routerLinkActive="active">homepage4</a>
      <a mat-list-item routerLink="/homepage/5" routerLinkActive="active">homepage5</a>
    </mat-nav-list>
<mat-nav-list>
<app-menu-nav-table>
  
</app-menu-nav-table>
  
</mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>khq dashboard of fun</span>

      <app-radio-but></app-radio-but>
      
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content #ngcontent></ng-content>
    
  </mat-sidenav-content>
</mat-sidenav-container>
