<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="app-homepage" routerLinkActive="active">John</a>
      <a mat-list-item routerLink="app-menu-nav-dash" routerLinkActive="active">Dashboard</a>
      <a mat-list-item routerLink="app-menu-nav-table" routerLinkActive="active">Table</a>
      <a mat-list-item routerLink="app-grid-list" routerLinkActive="active">Grid list</a>
      <a mat-list-item routerLink="app-file-upload" routerLinkActive="active">Upload File</a>
      <a mat-list-item routerLink="app-contact-form" routerLinkActive="active">Contact</a>
    </mat-nav-list>


  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>John's Portfolio</span>

      
      
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content #ngcontent></ng-content>
    
  </mat-sidenav-content>
</mat-sidenav-container>
