<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="1" rowHeight="600px">
    <mat-grid-tile *ngFor="let record of records">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{record.place}} 
            {{record.time}}
            {{record.vehicle}}
            {{record.driver}}
            
    {{record.category}}
{{record.length}}
{{record.time}}
{{record.date}}
{{record.notes}}
{{record.id}}
<img src="{{record.imageUrl}}">

          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="dashboard-card-content">
          <div>{{record.time}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>