<div class="grid-container">

  <h1>Results:</h1>
  <div class="view_buttons">
    <mat-icon matbutton class="search-button" (click)="onView1()">square</mat-icon>
    <mat-icon matbutton class="search-button" (click)="onView2()">apps</mat-icon>
    <mat-icon matbutton class="search-button" (click)="onView3()">table_rows</mat-icon>
    <mat-icon matbutton class="search-button" (click)="onView4()">view_column</mat-icon>
    <mat-icon matbutton class="search-button" (click)="onView5()">view_comfy</mat-icon>
  </div>

  <mat-grid-list cols="4" rowHeight="30vh">

    <mat-grid-tile class='grid-tile' *ngFor="let record of records" [colspan]="colspan" [rowspan]="rowspan">

      <mat-card tabindex="0" class="dashboard-card">

        <div class="img-wrapper">
          <img class="card-img" src="{{ record.imageurl }}" alt="{{ record.vehicle }}" />


          <div class="dashboard-card-header">
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="OnExpand()">Expand</button>
              <button mat-menu-item (click)="OnCollapse()">Collapse</button>
            </mat-menu>
            <mat-card-title class="position">
              <h1>Pos {{ record.place }}</h1>
              </mat-card-title>  
              <mat-card-title class="time" >
              <h1>Time {{ record.time }}</h1>
            </mat-card-title>
            
            
            <mat-card-title class="vehicle">
              <h2>{{ record.vehicle }}</h2>
            </mat-card-title>
            <mat-card-title class="driver">
              <h2> {{ record.driver }}</h2>
            </mat-card-title>

            <mat-card-title class="misc">
              
              <h3>{{ record.category }}
            {{ record.date }}<br> 
            {{ record.length }}<br>   
              {{ record.notes }}</h3>                 
            </mat-card-title>
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>