<div class="grid-container">
  <h1>Results:</h1>
  <mat-grid-list cols="2" rowHeight="90vh">
    <mat-grid-tile *ngFor="let record of records | async">
      <mat-card tabindex="0" class="dashboard-card">
        <div class="img-wrapper">
          <img class="card-img" src="{{ record.imageurl }}" alt="{{ record.vehicle }}" />


          <mat-card-header class="dashboard-card-header">

            <mat-card-subtitle class="mat-card-position">
              <h2>Position</h2>
              <h1>{{ record.place }}</h1>
              </mat-card-subtitle>  
              <mat-card-subtitle class="mat-card-time" >
              <h2>Time</h2>
              <h1>{{ record.time }}</h1>
            </mat-card-subtitle>
            <mat-card-subtitle class="mat-card-category" >
               {{ record.category }}
             </mat-card-subtitle>
            
            <mat-card-subtitle class="mat-card-vehicle">
              <h1>{{ record.vehicle }}</h1></mat-card-subtitle>
              <mat-card-subtitle class="mat-card-driver">
              <h1> {{ record.driver }}</h1>
            </mat-card-subtitle>

            <mat-card-subtitle class="mat-card-misc">
              
            
            <p> <b>{{ record.date }} </b><p></p>
              <p> {{ record.length }}</p>              
              <p> {{ record.notes }}</p>
                         
            </mat-card-subtitle>
            </mat-card-header>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>