.grid-container {
  margin: 0;

  font-weight: 800;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;

  width: 95%;
  height: 95%;
  max-height: 1080px;
  max-width: 1920px;
  margin: 0 auto;

  

}
.img-wrapper {
  width: 100%;
  height: 100%;
}

.img-wrapper img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}
.img-wrapper img:hover + mat-card-subtitle {
  color: #000;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-header {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
  padding: 10px;
  h1 {
    font-size: 6vmin;
    line-height: 6vmin;
      }
    h2 {
      font-size: 3vmin;
      line-height: 3vmin;
    }
    h3 {
      font-size: 1vmin;
      line-height: 1vmin;
    }

  
 
}
mat-card-subtitle {
  position: absolute;
  text-align: center;
  align-self: center; 
  color: white;

  font-weight: 900;

  :hover{
    background-color:white;
    font-weight: 900;
    
    color: black;
    z-index: 10;
    
    
  }
}


.mat-card-position {
  left: 10px;
  top: 25px;
  
  
}

.mat-card-time {
  left: 160px;
  top: 33px;
}
.mat-card-category {
  left: 10px;
  top: 10px;
}

.mat-card-vehicle {
  left: 10px;
  bottom: 50px;
}
.mat-card-driver {
  left: 10px;
  bottom: 10px;
}

.mat-card-misc {
  right: 10px;
  bottom: 10px;
  text-align: right;
  line-height: 2px;
  width: 45%;
  font-size: 14px;

}
